.Weather {
  font-family: Helvetica;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  padding: 3% 5% 3% 5%;
  border-radius: 24px;
  color: hsla(0, 0%, 100%, 0.5);
  margin: 10% 10% 1% 10%;
}

.Weather h1 {
  font-size: 45px;
  font-weight: 100;
  margin: 35px 0 10px 0;
  line-height: 29px;
  color: white;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 80px;
}
.Weather .temperature {
  font-weight: bold;
  color: red;
  font-size: 70px;
  line-height: 64px;
  font-weight: 400;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: red;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}
